@import '~antd/dist/antd.css';

.App {
  text-align: center;
  min-width: 1040px;
}

.App-logo {
  height: 4vmin;
  pointer-events: none;
  margin: 1vmin;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 8vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.App-title{
  font-size: calc(4px + 2vmin);
  line-height: calc(4px + 2vmin);
  color: white;
  font-weight: bold;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.App-footer {
  background-color: #282c34;
  min-height: 30px;
  display: flex;
  flex-direction: column;
  padding-block-start: 10px;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(4px + 1vmin);
  color: white;
}